html {
    background-color: #E0FFFF;
    font-family: Tahoma;
}

#wrapper {
    background-color: #d9f2ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 640px;
    height: 830px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
}

#cardTitle {
    flex-grow: 0;
    flex-shrink: 0;
}

h1, h2 {
    color: #483D8B;
}

h1 {
    margin-top: 4px;
}

#bingoCard {
    background-color: #6aa2cf !important;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 15% repeat(5, 17%);
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 6px;
    box-sizing: border-box;
}

.bingoCell, .titleCell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #778899;
    box-sizing: border-box;
    font-weight: bold;
    color: #000;
    text-align: center;
    user-select: none;
    padding: 2px
}

.titleCell {
    background-color: #a7e4f6;
    font-size: 2em;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    background-color: #0c0 !important;
}

#controlsArea {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

#buttonsArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    flex-grow: 0;
    flex-shrink: 0;
}

.bingoButton {
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    text-align: center;
    cursor: pointer;
}

#newCardButton {
    background-color: #89CFF0;
}

#newCardButton:hover {
    background-color: #6DB8E1;
}

#newCardButton:active {
    background-color: #4D9ED2;
}

#addPointButton {
    background-color: #66ce66;
}

#addPointButton:hover {
    background-color: #5fbb5f;
}

#addPointButton:active {
    background-color: #509350;
}

#removePointButton {
    background-color: #F08080;
}

#removePointButton:hover {
    background-color: #E06666;
}

#removePointButton:active {
    background-color: #CC4C4C;
}

#difficultySelectionArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#difficultySelectionArea label {
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    text-align: center;
}

#difficultySelect {
    width: 30%;
    margin-right: 2%;
}

#difficulty {
    width: 80%;
    height: 30px;
    margin-top: 10px;
}

#difficultyDescription {
    min-height: 60px;
    margin-left: 8px;
    width: 70%;
    align-items: end;
    display: flex;
}
